---
import Layout from "../layouts/Layout.astro";
// Component
import Navbar from "../components/Navbar.astro";
---

<Layout title="Not found">
  <Navbar />
    <div>
        <h1>404</h1>
        <p>Page not found</p>   
    </div>
    
</Layout>
