---
import Layout from '../layouts/Layout.astro'
// Component
import Navbar from '../components/Navbar.astro'

---

<Layout title="blog">
    <main>
        <Navbar />
        <h1>blog</h1>
    </main>
</Layout>