---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import GridCursos from '../components/courses/GridCourses.jsx'
---

<Layout title="Cursos">
    <main>
        <Navbar />
        <GridCursos client:load />
    </main>
</Layout>