---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import GridCursos from '../components/cursos/grid-courses.jsx'
---

<Layout title="Cursos">
    <main>
        <Navbar />
        <GridCursos />
    </main>
</Layout>