---
import Layout from '../layouts/Layout.astro';

// Components
import Navbar from '../components/Navbar.jsx';
import Hero from '../components/Hero.jsx';
---

<Layout title="Course-dev">
	<main>
		<Navbar />
		<Hero />
	</main>
</Layout>

