---
import Layout from '../layouts/Layout.astro';

// Components
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.jsx';
import Features from '../components/Features.jsx';
import Partners from '../components/Partners.jsx';
import Mentors from '../components/ListMentors.jsx';
import ChooseUs from '../components/ChooseUs.jsx';
import Footer from '../components/Footer.jsx';
import CardList from '../components/CardList.jsx';
---

<Layout title="Course-dev">
	<main>
		<Navbar />
		<Hero />
		<Features />
		<Partners />
		<CardList client:load />
		<Mentors />
		<ChooseUs />
		<Footer />
		
	</main>
</Layout>

