---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro';
import Login from '../components/login/LoginCard.jsx';
---

<Layout title="Login">
    <main>
        <Navbar />
        <Login class="place-self-auto" client:load />
        <Footer />
    </main>
</Layout>