---
import Layout from '../layouts/Layout.astro'
// Components
import Navbar from '../components/Navbar.astro'
---

<Layout title="planes">
  <main>
    <Navbar />
    <h2>planes</h2>
  </main>
</Layout>