---
import Layout from '../layouts/Layout.astro'
// Components
import Navbar from '../components/Navbar.astro'
import StudyPlanTitle from '../components/study_plan/StudyPlanTitle.jsx'
import CourseTopic from '../components/study_plan/CourseTopics.jsx'
import Footer from '../components/Footer';
---

<Layout title="Plan de estudios">
    <main>
        <Navbar />
        <StudyPlanTitle client:load/>
        <CourseTopic client:load/>
        <Footer />

    </main>
</Layout>