
---
import Layout from '../layouts/Layout.astro'

import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="About">
  <Navbar />
  <main>
    <h2>Politica de privacidad</h2>
    <br/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita vitae commodi excepturi, dicta ab amet voluptatibus distinctio temporibus fuga laborum nobis enim. Fuga ut ipsum iusto nemo porro veniam doloribus officiis, deserunt asperiores, officia incidunt quisquam voluptas magnam, vitae esse corporis dignissimos consectetur recusandae. Repellat, architecto. Sapiente aliquam rem distinctio modi dignissimos ad repellat sint, ducimus eligendi ipsam dolores commodi recusandae sunt fugiat error nesciunt necessitatibus! Unde inventore odio maiores corporis voluptates eaque, minima magni officia quos non tenetur a dolore numquam at totam distinctio, commodi corrupti rerum, nam et dignissimos. Quas, ex praesentium laboriosam quaerat corrupti laborum molestias voluptatum eaque, voluptate esse quam beatae sunt consequatur? Facilis iure pariatur exercitationem autem ratione quae praesentium modi similique hic maxime aliquid sequi id magni facere eius voluptatum, totam at fuga quos. Soluta delectus libero facere cum aliquam excepturi possimus veritatis, esse necessitatibus in natus facilis tenetur, cupiditate perferendis suscipit dolores! Atque aspernatur tempore natus eum quam in, accusantium veritatis. Dicta nam laborum porro perferendis maxime, neque, voluptas, dignissimos inventore laudantium iste quae architecto quia eius numquam sequi in. Blanditiis consectetur debitis, iusto obcaecati perferendis doloremque asperiores odit quo molestiae totam ipsum natus. Et atque maiores modi blanditiis nostrum dolorem, a similique!</p>
    <br/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita vitae commodi excepturi, dicta ab amet voluptatibus distinctio temporibus fuga laborum nobis enim. Fuga ut ipsum iusto nemo porro veniam doloribus officiis, deserunt asperiores, officia incidunt quisquam voluptas magnam, vitae esse corporis dignissimos consectetur recusandae. Repellat, architecto. Sapiente aliquam rem distinctio modi dignissimos ad repellat sint, ducimus eligendi ipsam dolores commodi recusandae sunt fugiat error nesciunt necessitatibus! Unde inventore odio maiores corporis voluptates eaque, minima magni officia quos non tenetur a dolore numquam at totam distinctio, commodi corrupti rerum, nam et dignissimos. Quas, ex praesentium laboriosam quaerat corrupti laborum molestias voluptatum eaque, voluptate esse quam beatae sunt consequatur? Facilis iure pariatur exercitationem autem ratione quae praesentium modi similique hic maxime aliquid sequi id magni facere eius voluptatum, totam at fuga quos. Soluta delectus libero facere cum aliquam excepturi possimus veritatis, esse necessitatibus in natus facilis tenetur, cupiditate perferendis suscipit dolores! Atque aspernatur tempore natus eum quam in, accusantium veritatis. Dicta nam laborum porro perferendis maxime, neque, voluptas, dignissimos inventore laudantium iste quae architecto quia eius numquam sequi in. Blanditiis consectetur debitis, iusto obcaecati perferendis doloremque asperiores odit quo molestiae totam ipsum natus. Et atque maiores modi blanditiis nostrum dolorem, a similique!</p>
    <br/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat deserunt quisquam rerum fugiat nemo pariatur officiis eveniet placeat? Aspernatur, delectus error! Reiciendis perferendis ut facere vel corrupti quasi quidem esse.</p>
  </main>
  <Footer />

</Layout>