---
import Logo from "./Logo.jsx";
---

<footer class="bg-black">
  <Logo />
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      <p class="text-white"><a href="/faq">FAQ</a></p>
      <p class="text-white"><a href="/about">Acerca</a></p>
      <p class="text-white"><a href="/privacy">Política de privacidad</a></p>
      <p class="text-white"><a href="/cookies">Política de cookies</a></p>
      <p class="text-white"><a href="/copyright">Copyright</a></p>
    </div>
  </div>
</footer>
