---
import Logo from "../components/Logo.jsx";
---

<nav class="bg-white flex flex-nowrap items-center font-sans text-center">
    <Logo />
    <ul class="flex pl-10 gap-x-10 flex-auto">
        <a href="/plan-estudios">Plan de estudio</a>
        <ul class="flex-auto">
            <a href="/cursos">Cursos</a>
        </ul>
        <ul class="flex-auto">
            <a href="/blog">Blog</a> 
        </ul>
        <ul class="flex-auto">
            <a href="/planes">Planes</a>
        </ul>
        <ul class="flex justify-end pr-4">
            <a>Iniciar Sesion</a>
        </ul>
        <ul class="flex justify-end pr-4">
            <a>Registrarse</a>
        </ul>
    </ul>
</nav>
