---
import Layout from '../../layouts/Layout.astro'
@page({
    title: 'Course',
    path: '/course/:id'
})
---

<Layout title="Course">
    <main>
        <h1>Course {id}</h1>
        <!-- Display course info here -->
    </main>
</Layout>